Django==4.2.16
django-jazzmin==2.6.0
Pillow
django-google-maps
django-phone-field
django-phonenumber-field
phonenumberslite
whitenoise==6.5.0
gunicorn
qrcode[pil]

dj-database-url
whitenoise
psycopg2-binary
django-cloudinary-storage
cloudinary